:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Orbitron", sans-serif;
  --content-width: 1290px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --bg-color: #0c0f1d;
  --text-color: #f7f7f7;
  --subtext-color: #f7f7f780;
  --btn-bg-color: #97f0e5;
  --accent-color: #c684f6;
  --button-bg-color: #292c3b;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, sans-serif);
  background-color: var(--bg-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (width <= 1152px) {
  .container {
    padding: 0 24px;
  }
}
@media (width <= 788px) {
  .container {
    padding: 0 16px;
  }
}

.header {
  padding: 20px;
}
.header__nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.header__link {
  border-radius: 8px;
  padding: 10.5px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
}
.header__link-logo {
  border-radius: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 24px;
  color: var(--accent-color);
  background-color: transparent;
}
.header__item:not(:last-child) {
  margin-right: 20px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
}
.header__btn-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  padding: 9px 10px;
  background-color: var(--button-bg-color);
}
.header__btn-contacts {
  border-radius: 8px;
  padding: 11px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
}
.header__icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}
.header__search {
  outline: none;
  border: 1px solid var(--button-bg-color);
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  max-width: 240px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--button-bg-color);
}

.hero {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-color);
}
.hero__descr {
  max-width: 30%;
}
.hero__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
}
.hero__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--subtext-color);
}
.hero__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  padding: 15px 30px;
  background-color: var(--button-bg-color);
}
.hero__count:not(:last-child) {
  margin-bottom: 20px;
}
.hero__number {
  position: relative;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 24px;
  color: var(--accent-color);
}
.hero__total {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--subtext-color);
}
.hero__last {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--subtext-color);
}
.hero__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  width: 67%;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--accent-color);
}
.hero__icon {
  position: absolute;
  right: -15px;
  top: -5px;
  width: 14px;
  height: 14px;
  fill: #FF782F;
}/*# sourceMappingURL=main.css.map */
