:root {
  --font-family: "Unbounded", sans-serif;
  --second-family: "Orbitron", sans-serif;
  --content-width: 1290px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --bg-color: #0c0f1d;
  --text-color: #f7f7f7;
  --subtext-color: #f7f7f780;
  --subaccent-color: #03fc9d;
  --accent-color: #c684f6;
  --button-bg-color: #292c3b;
  --alert-color: #ff004c;
  --official-color: #4ca3ffff;
}

[data-theme=light] {
  --bg-color: #f7f7f7;
  --text-color: #0c0f1d;
  --subtext-color: #0b0e1bbd;
  --button-bg-color: #e7e9f3;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/UnboundedRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/UnboundedMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/UnboundedBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/UnboundedBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, sans-serif);
  background-color: var(--bg-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (width <= 1152px) {
  .container {
    padding: 0 24px;
  }
}
@media (width <= 788px) {
  .container {
    padding: 0 16px;
  }
}

body.blurred .wrapper {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  pointer-events: none;
}

.input--invalid {
  outline: none;
  /* stylelint-disable-next-line declaration-no-important */
  border: 1px solid var(--alert-color) !important;
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--alert-color) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (width <= 787px) {
  .header {
    padding-bottom: 0;
  }
}
.header__nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
@media (width <= 787px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header__link {
  border-radius: 8px;
  padding: 10.5px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
}
.header__link:focus {
  outline: none;
}
@media (width <= 787px) {
  .header__link {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 10px;
  }
}
.header__link-logo {
  border-radius: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 32px;
  color: var(--subaccent-color);
  background-color: transparent;
}
.header__item:not(:last-child) {
  margin-right: 20px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 470px;
  gap: 10px;
}
@media (width <= 787px) {
  .header__wrapper {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
@media (width <= 480px) {
  .header__wrapper {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    max-width: 100%;
  }
  .header__wrapper .header__container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
}
.header__btn {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__btn-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  padding: 9px 10px;
  background-color: var(--button-bg-color);
}
@media (any-hover: hover) {
  .header__btn-theme:hover {
    background-color: var(--text-color);
  }
  .header__btn-theme:hover .header__icon {
    fill: var(--bg-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.header__btn-theme:focus {
  background-color: var(--text-color);
}
.header__btn-theme:focus .header__icon {
  fill: var(--bg-color);
}
.header__btn-contacts {
  border-radius: 8px;
  padding: 11px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
}
@media (any-hover: hover) {
  .header__btn-contacts:hover {
    color: var(--bg-color);
    background-color: var(--subaccent-color);
  }
}
.header__btn-contacts:focus {
  outline: none;
  color: var(--bg-color);
  background-color: var(--subaccent-color);
}
.header__icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}
.header__search {
  outline: none;
  border: 1px solid var(--button-bg-color);
  border-radius: 8px;
  padding: 10px 15px;
  min-width: 242px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__search:hover {
    border: 1px solid var(--subaccent-color);
  }
}
.header__search:focus {
  border: 1px solid var(--subaccent-color);
}
@media (width <= 480px) {
  .header__search {
    width: 100%;
  }
}
.header__error {
  position: absolute;
  top: 7px;
  font-size: 10px;
  color: var(--alert-color);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero {
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-color);
}
@media (width <= 833px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.hero__descr {
  max-width: 30%;
}
@media (width <= 1199px) {
  .hero__descr {
    max-width: 40%;
  }
}
@media (width <= 833px) {
  .hero__descr {
    max-width: 100%;
  }
}
.hero__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
}
.hero__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--subtext-color);
}
.hero__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  padding: 15px 30px;
  background-color: var(--button-bg-color);
}
.hero__count:not(:last-child) {
  margin-bottom: 20px;
}
@media (width <= 833px) {
  .hero__count {
    width: 100%;
  }
  .hero__count:not(:last-child) {
    margin-bottom: 0;
  }
}
.hero__number {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 24px;
  color: var(--accent-color);
}
.hero__name {
  position: relative;
  margin-bottom: 10px;
  outline: none;
  font-weight: 900;
  font-size: 24px;
  color: var(--accent-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hero__total {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--subtext-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hero__last {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--subtext-color);
}
.hero__logo {
  border-radius: 8px;
  width: 67%;
  background-image: url("../img/svg/banner-sui.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
}
@media (width <= 833px) {
  .hero__logo {
    margin-bottom: 20px;
    width: 100%;
    height: 340px;
  }
}
@media (width <= 480px) {
  .hero__logo {
    height: 240px;
  }
}
.hero__icon {
  position: absolute;
  top: -5px;
  width: 14px;
  height: 14px;
  fill: #FF782F;
}
.hero__btn {
  outline: none;
  border: 1px solid var(--button-bg-color);
  border-radius: 8px;
  padding: 15px 30px;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .hero__btn:hover {
    border: 1px solid var(--subaccent-color);
  }
  .hero__btn:hover .hero__name {
    color: var(--subaccent-color);
  }
  .hero__btn:hover .hero__total {
    color: var(--text-color);
  }
}
.hero__btn:focus {
  border: 1px solid var(--subaccent-color);
}
.hero__btn:focus .hero__name {
  color: var(--subaccent-color);
}
.hero__btn:focus .hero__total {
  color: var(--text-color);
}
.hero__wrapper {
  gap: 30px;
}
@media (width <= 833px) {
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (width <= 670px) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 60px;
}
@media (width <= 833px) {
  .project {
    padding-bottom: 30px;
  }
}
.project__title {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--text-color);
}
@media (width <= 833px) {
  .project__title {
    font-weight: 600;
  }
}
.project__filter {
  margin-bottom: 30px;
}
.project__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
@media (width <= 661px) {
  .project__list {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: scroll;
  }
}
.project__btn {
  outline: none;
  border-radius: 8px;
  padding: 11px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .project__btn:hover {
    color: var(--bg-color);
    background-color: var(--subaccent-color);
  }
}
.project__btn:focus {
  color: var(--bg-color);
  background-color: var(--subaccent-color);
}
@media (width <= 661px) {
  .project__btn {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}
.project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.project__card-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
}
.project__card-item {
  outline: none;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  color: var(--text-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.project__card-item:focus {
  border-color: var(--subaccent-color);
}
.project__card-item:focus .project__card-logo {
  border-color: var(--subaccent-color);
}
.project__card-item:focus .project__card-category {
  border-color: var(--subaccent-color);
}
.project__card-item:focus .project__card-descr {
  border-color: var(--subaccent-color);
}
.project__card-logo {
  margin-bottom: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.project__card-name {
  margin-bottom: 10px;
  font-weight: 900;
  text-transform: uppercase;
}
.project__card-category {
  margin-bottom: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 4px 6px 3px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.project__card-descr {
  margin-bottom: 20px;
  border-bottom: 2px solid var(--accent-color);
  min-height: 110px;
  font-size: 12px;
  line-height: 2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.project__card-btn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  outline: none;
  border-radius: 8px;
  padding: 20px 40px;
  max-width: 200px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .project__card-btn:hover {
    color: var(--bg-color);
    background-color: var(--subaccent-color);
  }
}
.project__card-btn:focus {
  color: var(--bg-color);
  background-color: var(--subaccent-color);
}
.project__social-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.project__social-item {
  outline: none;
}
.project__social-item:not(:last-child) {
  margin-right: 10px;
}
.project__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .project__social-link:hover {
    border: 2px solid var(--subaccent-color);
    background-color: var(--subaccent-color);
  }
  .project__social-link:hover .project__social-icon {
    fill: var(--bg-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.project__social-link:focus {
  border: 2px solid var(--subaccent-color);
  background-color: var(--subaccent-color);
}
.project__social-link:focus .project__social-icon {
  fill: var(--bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (width <= 661px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.footer::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: calc(100% - 60px);
  height: 1px;
  background-color: var(--accent-color);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.footer__link {
  border-radius: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 16px;
  color: var(--subaccent-color);
  background-color: transparent;
}
.footer__text {
  margin: 0;
  font-size: 12px;
  color: var(--subtext-color);
}
@media (width <= 661px) {
  .footer__text {
    text-align: center;
  }
}
.footer__donate-btn {
  position: relative;
  border: none;
  border-radius: 8px;
  width: 261px;
  height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--bg-color);
  background-color: var(--alert-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (any-hover: hover) {
  .footer__donate-btn:hover {
    background-color: var(--subaccent-color);
  }
}
@media (width <= 661px) {
  .footer__donate-btn {
    margin-bottom: 20px;
  }
}
.footer__donate-text {
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.footer__donate-text--default {
  opacity: 1;
  pointer-events: auto;
}
.footer__donate-text--wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__donate-btn.show-wallet .footer__donate-text--default, .footer__donate-btn.show-copied .footer__donate-text--default {
  opacity: 0;
  pointer-events: none;
}
.footer__donate-btn.show-wallet .footer__donate-text--wallet {
  opacity: 1;
  pointer-events: auto;
}
.footer__donate-btn.show-copied .footer__donate-text--copied {
  opacity: 1;
  pointer-events: auto;
}
.footer__icon {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  fill: #4da2ff;
}

.show-wallet,
.show-copied {
  background-color: var(--subaccent-color);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 8px;
  padding: 30px;
  width: 50%;
  background-color: var(--bg-color);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (width <= 753px) {
  .modal {
    width: 90%;
  }
}
.modal.active {
  display: block;
}
.modal__text {
  margin: 0;
  margin-right: 20px;
  font-size: 24px;
  color: var(--text-color);
}
.modal__text-sm {
  margin-bottom: 60px;
  font-size: 16px;
  color: var(--subtext-color);
}
@media (width <= 420px) {
  .modal__text-sm {
    font-size: 16px;
  }
}
@media (width <= 753px) {
  .modal__text {
    margin-right: 0;
  }
}
@media (width <= 420px) {
  .modal__text {
    margin-right: 0;
    font-size: 18px;
  }
}
.modal__wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (width <= 753px) {
  .modal__wrapper {
    margin-bottom: 10px;
  }
}
.modal__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.modal__item {
  outline: none;
  border: 1px solid var(--subaccent-color);
  border-radius: 8px;
  padding: 10px 10px 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .modal__item:hover {
    background-color: var(--subaccent-color);
  }
  .modal__item:hover .modal__icon {
    fill: var(--bg-color);
  }
}
.modal__item:focus {
  background-color: var(--subaccent-color);
}
.modal__item:focus .modal__icon {
  fill: var(--bg-color);
}
.modal__link {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal__icon {
  width: 20px;
  height: 20px;
  fill: var(--subaccent-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal__icon-close {
  width: 20px;
  height: 20px;
  stroke: var(--sutext-color);
}
.modal__btn {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal__btn-form {
  border-radius: 8px;
  padding: 11px 30px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--bg-color);
  background-color: var(--subtext-color);
  cursor: not-allowed;
}
.modal__btn-form:focus {
  background-color: var(--subtext-color);
  cursor: not-allowed;
}
.modal__btn-close {
  border: 1px solid var(--subaccent-color);
  border-radius: 8px;
  padding: 9px 10px 7px;
  max-height: 41.7px;
  stroke: var(--subaccent-color);
}
@media (any-hover: hover) {
  .modal__btn-close:hover {
    background-color: var(--subaccent-color);
  }
  .modal__btn-close:hover .modal__icon-close {
    stroke: var(--bg-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.modal__btn-close:focus {
  background-color: var(--subaccent-color);
}
.modal__btn-close:focus .modal__icon-close {
  stroke: var(--bg-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (width <= 753px) {
  .modal__btn-close {
    -ms-flex-item-align: end;
    align-self: flex-end;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}/*# sourceMappingURL=main.css.map */
