:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Orbitron", sans-serif;
  --content-width: 1290px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --bg-color: rgb(30, 30, 30);
  --gray-color: rgb(255, 255, 253);
  --white-color: #fff;
  --salad-color: #d6ef0e;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/../fonts/OrbitronBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, sans-serif);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (width <= 1152px) {
  .container {
    padding: 0 24px;
  }
}
@media (width <= 788px) {
  .container {
    padding: 0 16px;
  }
}/*# sourceMappingURL=main.css.map */
